<div class="container text-center mt-3">
  <h1>Faça sua pesquisa</h1>

  <%= form_for :search, url: create_prompt_path, method: :post do |f| %>
    <fieldset class="checkbox-group">
      <legend class="checkbox-group-legend">Carrocerias</legend>

      <div class="checkbox">
        <label class="checkbox-wrapper">
          <%= f.radio_button :body1, "Sedan", class: "checkbox-input" %>
          <span class="checkbox-tile">
            <span class="checkbox-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <polygon points="56 100 56 168 128 236 128 168 200 168 56 32 200 32 200 100 56 100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
              </svg>
            </span>
            <span class="checkbox-label">Sedan</span>
          </span>
        </label>
      </div>

      <div class="checkbox">
        <label class="checkbox-wrapper">
          <%= f.radio_button :body1, "Hatch", class: "checkbox-input" %>
          <span class="checkbox-tile">
            <span class="checkbox-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <polygon points="56 100 56 168 128 236 128 168 200 168 56 32 200 32 200 100 56 100" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
              </svg>
            </span>
            <span class="checkbox-label">Hatch</span>
          </span>
        </label>
      </div>



    </fieldset>
    <%= f.submit "Submit" %>
  <% end %>







  <div class="form-inputs">
    <label>
      <input type="radio" name="search[body1]" value="Sedan"> Sedan
    </label>
    <label>
      <input type="radio" name="search[body1]" value="Ford1"> Ford1
    </label>
    <label>
      <input type="radio" name="search[body1]" value="BMW1"> BMW1
    </label>
  </div>

  <div class="form-inputs">
    <label>
      <input type="radio" name="search[transmission2]" value="Automatico"> Automatico
    </label>
    <label>
      <input type="radio" name="search[transmission2]" value="Ford1"> Ford1
    </label>
    <label>
      <input type="radio" name="search[transmission2]" value="BMW1"> BMW1
    </label>
  </div>

  <div class="form-inputs">
    <label>
      <input type="radio" name="search[engine3]" value="2.0"> 2.0
    </label>
    <label>
      <input type="radio" name="search[engine3]" value="Ford1"> Ford1
    </label>
    <label>
      <input type="radio" name="search[engine3]" value="BMW1"> BMW1
    </label>
  </div>

  <div class="form-inputs">
    <label class=checkbox-wrapper-31">
      <input type="radio" name="search[traction4]" value="4x4"> 4x4
    </label>
    <label>
      <input type="radio" name="search[traction4]" value="Ford1"> Ford1
    </label>
    <label>
      <input type="radio" name="search[traction4]" value="BMW1"> BMW1
    </label>
  </div>

  <div class="form-inputs">
    <label>
      <input type="checkbox" name="search[optionals5][]" value="Banco de couro" <%= 'checked' if @search.optionals5.present? && @search.optionals5.include?('Banco de couro') %>> Banco de couro
    </label>
    <label>
      <input type="checkbox" name="search[optionals5][]" value="Ford5" <%= 'checked' if @search.optionals5.present? && @search.optionals5.include?('Ford5') %>> Ford5
    </label>
    <label>
      <input type="checkbox" name="search[optionals5][]" value="BMW5" <%= 'checked' if @search.optionals5.present? && @search.optionals5.include?('BMW5') %>> BMW5
    </label>
  </div>

  <input type="submit" value="Submit">
<%# </form> %>

    <h2>Mensagens Criadas:</h2>
    <ul>
      <% @searches.each do |search| %>
        <li><%= search.optionals5 %></li>
      <% end %>
    </ul>
</div>
