<div class="container text-center mt-3">
  <h1>Faça sua pesquisa</h1>

  <%= simple_form_for @search, url: create_prompt_path do |f| %>

    <div class="form-inputs">
      <%= f.collection_check_boxes :optionals5, [['Audi5', 'Audi5'], ['Ford5', 'Ford5'], ['BMW5', 'BMW5']], :last, :first, include_hidden: false, checked: @search.optionals5.present? ? @search.optionals5.split(',') : [] %>
    </div>

    <div class="form-inputs">
      <%= f.collection_radio_buttons :body1, [['Audi1', 'Audi1'], ['Ford1', 'Ford1'], ['BMW1', 'BMW1']], :last, :first %>
    </div>

    <div class="form-actions btn btn-success">
      <%= f.button :submit %>
    </div>

    <h2>Mensagens Criadas:</h2>
    <ul>
      <% @searches.each do |search| %>
        <li><%= search.optionals5 %></li>
      <% end %>
    </ul>
  <% end %>
</div>
